# Database
DB_PORT=port
DB_HOST=hostname
DB_NAME=database
DB_USER=username
DB_PASSWORD=password

# Debug
DEBUG=True OR False

#secret key
SECRET_KEY=your-django-secret-key

#ALLOWED HOSTS
ALLOWED_HOSTS=ALLOWED_HOST1,ALLOWED_HOST2